<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
              <td>
                <img [src]="usuario.img | imagen" class="img-50 img-circle w50">
              </td>
              <td>{{usuario.name}}</td>

            </tr>
          </tbody>

        </table>
        <div class="alert alert-danger" *ngIf="usuarios.length === 0">
          No existe ninguno usuario registrado con estos datos
        </div>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Grupos</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let grupo of grupos" [routerLink]="['/grupos']" class="pointer">
              <td>
                <img [src]="grupo.img | imagen" class="img-50 img-circle w50">
              </td>
              <td>{{grupo.nombre}}</td>

            </tr>
          </tbody>
        </table>
        <div class="alert alert-danger" *ngIf="grupos.length === 0">
          No existe ninguno grupo registrado con estos datos
        </div>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Examen</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let examen of examenes" [routerLink]="['/examenes']" class="pointer">
              <td>{{examen.nombre}}</td>
              <td>{{examen.grupo.nombre}}</td>

            </tr>
          </tbody>

        </table>
        <div class="alert alert-danger" *ngIf="examenes.length === 0">
          No existe ninguno examen registrado con estos datos
        </div>
      </div>
    </div>

  </div>
</div>