<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
<form class="form-group m-t-40">
<div class="form-group col-6">
                       <label>Titulo</label>
                       <input type="text" class="form-control form-control" value=""> </div>  
  <div class="form-group col-6">
                       <label>Descripción</label>
                       <textarea class="form-control" rows="5"></textarea>
                   </div>
    
               <br>
   
      <form class="form-material m-t-40 row">
                       <div class="form-group col-md-3 m-t-20">
                       <select class="form-control">
                           <option>Visible para...</option>
                           <option>Alumnos</option>
                           <option>Maestros</option>
                           <option>Ambos</option>
                           
                       </select>
                       
                   </div>
                       
                   
                  
               </form>
    <div class="form-group col-6">
                       <label>Comentarios</label>
                       <textarea class="form-control" rows="5"></textarea>
                   </div>
   <div class="form-group">
                   <label>Agrega una imagen</label>
                   <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
               </div>
   <label>Link del Video <span class="help"> </span></label>
                       <input type="text" class="form-control form-control-line" value="www.youtube.com"> 
   
</form>  
</div>
      </div>
  </div>
</div>