<div class="row animated fadeInLeft">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="buscarExamen(input.value)" type="text" class="form-control" placeholder="Buscar examen">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button [routerLink]="['/examen','nuevo']" type="button" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i>
            Crear Examen</button>
        </div>

        <h3 class="card-title">Examenes registrados (
          <small>{{totalRegistros}}</small>)</h3>

        <table class="table table-hover table-bordered table-condensed">
          <thead>
            <tr>
              
              <th>Examen</th>
              <th>Grupo</th>
              <th>Licencia</th>
              <th>Desbloquear</th>
              <th>Resetear</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let examen of examenes">
              
              <td>{{examen.nombre}}</td>
              <td>{{examen.grupo.nombre}}</td>
              <td>{{examen.licencia}}</td>
              <td style="text-align:center;">
                  <button class="btn btn-warning">
                  <i *ngIf="!examen.desbloquear " class="fa fa-unlock"></i>
                  <i *ngIf="examen.desbloquear " class="fa fa-lock"></i>
                </button>
                </td>
              <td style="text-align:center;">
                  <button class="btn btn-success">
                      <i *ngIf="!examen.resetear " class="fa fa-refresh"></i>
                      <i *ngIf="examen.resetear " class="fa fa-refresh"></i>
                    </button>
              </td>
              <td>Inactivo</td>
              <td>
                <button [routerLink]="['/examen',examen._id]" class="btn btn-info">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="borrarExamen(examen)" class="btn btn-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeInLeft" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeInLeft" *ngIf="!cargando">
  <div class="col-12">
    <div class="card animated fadeInLeft">
     
    </div>
  </div>
</div>