<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h4 class="box-title m-b-0">Actualizar Examen</h4>
          <form>
            
            <div class="form-group">
              <div class="checkbox checkbox-success">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"> Remember me </label>
              </div>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Grupo</h4>


    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Fotografía</h4>

    </div>
  </div>
</div>