<div class="row animated fadeInLeft">
  <div class="col-sm-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Actualizar Pefil</h4>
        <h6 class="card-subtitle"></h6>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value)" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">Nombre usuario</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-user"></i>
              </div>
              <input [(ngModel)]="usuario.name" name="name" type="text" class="form-control" placeholder="Nombre Usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Dirección de correo electrónico </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-email"></i>
              </div>
              <input [(ngModel)]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Email">
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Enviar</button>
          <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-ban"></i> Cancelar</button> -->
        </form>
      </div>
    </div>
  </div>


  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle"> nombre usuario </h6>
        <img src=''>
        <input (change)="seleccionImage($event.target.files[0])" type="file">

        <br>
        <br>

        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-primary waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Actualizar Foto
        </button>s
      </div>
    </div>
  </div>

</div>