<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <img src="../../../assets/images/paso4.png" height="140px" width="1600px">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card text-align:center " >
      <h1 style="text-align: center;">Se ha Guardado con Exito!!!</h1>
      <h3 style="text-align: center;">'Matematicas'</h3>
      <br>
      <div class="card-body" style='float: none; margin: 0 auto;'>
        <div class="row">
          <div class="col-sm-12 ">
            <button type="button" class="btn btn-warning btn-circle btn-xl" style="width:150px; height:150px; margin: 10px;"><i class="fa fa-edit fa-3x "></i>
            </button>
            <button type="button" class="btn btn-info btn-circle btn-xl" style="width:150px; height:150px; margin: 10px;"><i class="far fa-eye fa-3x"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle btn-xl" style="width:150px; height:150px; margin: 10px;"><i class="fas fa-play fa-3x"></i>
            </button>
            <button (click)="generarLink()" type="button" class="btn btn-danger btn-circle btn-xl" style="width:150px; height:150px; margin: 10px;"><i class="fas fa-share-alt fa-3x"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>