<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <img src="../../../assets/images/paso4.png" height="140px" width="1600px">
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body" style="height: 1000px;">
    <h1 id="titulo">Se ha Guardado con Exito!!!</h1>
    <h3 id="sub">'ejercicio 1'</h3>
    <div id="principal">
      <div id="divExamen">

        <a id="Modificar" class="fa fa-edit"></a>
        <h1 id="txtExamen">Modificar</h1>

      </div>
      <div id="divPreview">

        <a id="ver" class="ti ti-eye"></a>
        <h1 id="txtVer">Ver</h1>

      </div>
      <div id="divEmpezar">

        <a id="Empezar" class="ti ti-control-play"></a>
        <h1 id="txtEmpezar">Empezar</h1>

      </div>
      <div id="divCompartir">

        <a (click)="generarLink()" id="Compartir" class="ti ti-sharethis"></a>
        <h1 id="txtCompartir">Compartir</h1>

      </div>

    </div>
  </div>
</div>