<div class="row animated fadeInLeft">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Crea tu actividad</h1>
                <div id="principal">    
  <div id="divExamen">
  
  <a id="pregunta" [routerLink]="['/examen','nuevo']" class="fa fa-star"></a>
  <h1  id="txtExamen">Examen</h1>
  
  </div> 
  <div id="divLineas">
  
  <a id="pregunta" routerLink="/formularioactividad" ><i class="fas fa-expand-arrows-alt"></i></a>
  <h1 id="txtPasa">Relaciona Lineas</h1>
  
  </div>
                     
  <div id="divAbierta">
  
  <a id="pregunta" routerLink="/formularioactividad"><i class="fa fa-terminal"></i></a>
  <h1 id="txtPasa">Pregunta Abierta</h1>
  
  </div>
                    
  <div id="divOrdena">
  
  <a id="pregunta" routerLink="/formularioactividad"><i class="fas fa-exchange-alt"></i></a>
  <h1 id="txtPasa">Ordena Elementos</h1>
  
  </div>                                    
  
  </div>    
            </div>
        </div>
    </div>
  </div>
  