<div class="row animated fadeInLeft">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <img src="../../../assets/images/paso1.png" height="140px" width="1600px">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Descripcion de la actividad</h4>
        <h6 class="card-subtitle"></h6>
        <form class="form p-t-20">
          <div class="form-group">
            <label>Titulo de la actividad</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-book-open"></i>
              </div>
              <input type="text" class="form-control" placeholder="Nombre de la actividad" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Descripcion </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-file-alt"></i>
              </div>
              <input type="email" class="form-control" placeholder="Descripcion">
            </div>
          </div>
          <br>

          <div class="form-group">
            <label>
              <i class="fas fa-user-friends"></i> Visible para:</label>
            <select class="form-control">
              <option>Solo yo</option>
              <option>Alumnos</option>
              <option>Profesores</option>

            </select>
          </div>
          <br>
          <br>
          <div class="form-group">
            <label>
              <i class="fas fa-comments"></i> Comentarios</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label>Liga de material adicional </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-link"></i>
              </div>
              <input type="email" class="form-control" placeholder="Link del material">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-6" style='float: none; margin: 0 auto;'>
    <div class="card">
      <div class="card-body" style="text-align:center;">
        <h6 class="card-title">Fotografia de la actividad </h6>
        <img class="w130" src="../../../assets/images/no-img.jpg">
        <br>
        <input type="file">
        <br>
        <br>
        <br>
        <h5>Ingresa tags para dar a conocer tu actividad</h5>
        <div class="input-group  m-t-20 m-b-30">
          <span class="input-group-addon">Tags</span>
          <div class="bootstrap-tagsinput">
            <span class="tag label label-info">Primaria
              <span data-role="remove"></span>
            </span>
            <span class="tag label label-info">Independencia
              <span data-role="remove"></span>
            </span>
            <span class="tag label label-info">Mexico
              <span data-role="remove"></span>
            </span>
            <input type="text" placeholder="add tags">
          </div>
          <input type="text" value="" data-role="tagsinput" placeholder="Adherir tags" style="display: none;">
        </div>
      </div>
      <div style="text-align: center; float: none; margin: 0 auto;">
        <h5 class="box-title m-t-30">Ingresa periodo de realizacion</h5>
        <div id="datepicker-inline">
          <div class="datepicker datepicker-inline">
            <div class="datepicker-days">
              <table class="table-condensed">
                <thead>
                  <tr>
                    <th colspan="7" class="datepicker-title" style="display: none;"></th>
                  </tr>
                  <tr>
                    <th class="prev">«</th>
                    <th colspan="5" class="datepicker-switch">November 2018</th>
                    <th class="next">»</th>
                  </tr>
                  <tr>
                    <th class="dow">Su</th>
                    <th class="dow">Mo</th>
                    <th class="dow">Tu</th>
                    <th class="dow">We</th>
                    <th class="dow">Th</th>
                    <th class="dow">Fr</th>
                    <th class="dow">Sa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="old day">28</td>
                    <td class="old day">29</td>
                    <td class="old day">30</td>
                    <td class="old day">31</td>
                    <td class="day">1</td>
                    <td class="day">2</td>
                    <td class="day">3</td>
                  </tr>
                  <tr>
                    <td class="day">4</td>
                    <td class="day">5</td>
                    <td class="day">6</td>
                    <td class="day">7</td>
                    <td class="day">8</td>
                    <td class="day">9</td>
                    <td class="day">10</td>
                  </tr>
                  <tr>
                    <td class="day">11</td>
                    <td class="day">12</td>
                    <td class="day">13</td>
                    <td class="day">14</td>
                    <td class="day">15</td>
                    <td class="day">16</td>
                    <td class="day">17</td>
                  </tr>
                  <tr>
                    <td class="today active day">18</td>
                    <td class="day">19</td>
                    <td class="day">20</td>
                    <td class="day">21</td>
                    <td class="day">22</td>
                    <td class="day">23</td>
                    <td class="day">24</td>
                  </tr>
                  <tr>
                    <td class="day">25</td>
                    <td class="day">26</td>
                    <td class="day">27</td>
                    <td class="day">28</td>
                    <td class="day">29</td>
                    <td class="day">30</td>
                    <td class="new day">1</td>
                  </tr>
                  <tr>
                    <td class="new day">2</td>
                    <td class="new day">3</td>
                    <td class="new day">4</td>
                    <td class="new day">5</td>
                    <td class="new day">6</td>
                    <td class="new day">7</td>
                    <td class="new day">8</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="7" class="today" style="display: none;">Today</th>
                  </tr>
                  <tr>
                    <th colspan="7" class="clear" style="display: none;">Clear</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center">
        <h4 class="card-title">Agregar Actividad</h4>
        <a class="btn btn-primary" routerLink="/formulariopreguntas" style="border-radius: 50%; height: 50px;width: 50px;font-size:30px;">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>

</div>