/* You can add global styles to this file, and also import other style files */

#themecolors a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.w130{
    height: 130px;
}

.w70{
    height: 70px;
}
.w50{
    height: 50px;
}

.oculto {
    display: none;
}
.background-negro{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.textocentrado{
    text-align: center;
}