<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style='background:#FFF6EF'>
                <div>
                    <button type="button" class="btn btn-block btn-lg btn-secondary" id="matematicas">Matematicas</button>
                </div>
                <div>
                    <button type="button" class="btn btn-block btn-lg btn-secondary" id="espanol">Español</button>
                </div>
                <div>
                    <button type="button" class="btn btn-block btn-lg btn-secondary" id="ciencias">Ciencias</button>
                </div>
                <div>
                    <button type="button" class="btn btn-block btn-lg btn-secondary" id="historia"><b>Historia</b></button>
                </div>


            </div>
        </div>
    </div>
</div>