<div class="row">
    <div class="col-12">
        <div class="card">
                <h1 class="card-title" style="text-align: center;">Explora actividades de otros profesores</h1>
            <div class="card-body" style='background:#FFFFFF'>
                <div>
                    <button  routerLink="/formulario-crea-actividad" type="button" class="btn btn-block btn-lg btn-secondary" id="matematicas">Matematicas</button>
                </div>
                <div>
                    <button  routerLink="/formulario-crea-actividad" type="button" class="btn btn-block btn-lg btn-secondary" id="espanol">Español</button>
                </div>
                <div>
                    <button routerLink="/formulario-crea-actividad" type="button" class="btn btn-block btn-lg btn-secondary" id="ciencias">Ciencias</button>
                </div>
                <div>
                    <button  routerLink="/formulario-crea-actividad" type="button" class="btn btn-block btn-lg btn-secondary" id="historia"><b>Historia</b></button>
                </div>


            </div>
        </div>
    </div>
</div>