<div class="row">
    <div class="col-12">
        <div class="card text-align:center">
            <h1 class="card-title" style="text-align: center;">Explora actividades de otros profesores</h1>
            <div class="card-body" style='background:#FFFFFF; float: none; margin: 0 auto;'>
                <div class="row">
                    <div class="col-sm-6 ">
                        <button routerLink="/formularioactividad" type="button" class="btn btn-block btn-lg btn-secondary"
                            id="matematicas"><b>Matematicas</b></button>
                        <button routerLink="/formularioactividad" type="button" class="btn btn-block btn-lg btn-secondary"
                            id="espanol"><b>Español</b></button>

                    </div>
                    <div class="col-sm-6 col-center">

                        <button routerLink="/formularioactividad" type="button" class="btn btn-block btn-lg btn-secondary"
                            id="ciencias"><b>Ciencias</b></button>

                        <button routerLink="/formularioactividad" type="button" class="btn btn-block btn-lg btn-secondary"
                            id="historia"><b>Historia</b></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>